<a href="https://colab.research.google.com/github/PhysTony/Pandas-Data-Sciencie/blob/main/Bloque%200%20-%20Introduccion%20a%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Python

El propósito de esta sección es proporcionar las bases necesarias para poder abordar el manejo de *dataframes*

In [ ]:
import sys

In [ ]:
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

Agenda:

- Tipos de datos fundamentales
- Contenedores
- Iteraciones y membership
- Flujo de control: if, else, elif y for, while loops
- Comprehenciones
- Funciones declaradas y anónimas
- Módulos y más

![alt text](https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg)

## Tipos de datos

En Python cada objeto tiene asignado un tipo de dato, en específico y es importante conocer el tipo de dato que almacena el objeto, ya que el tipo de dato determina las porpiedades del objeto. Si bien, existen muchas clases de datos, los principales son los siguientes:

In [ ]:
# fundamental data types
int, float, bool, str, tuple, list, set, dict

(int, float, bool, str, tuple, list, set, dict)

En general, estas clasificaciones de datos se pueden definir de la siguiente manera:

- **int**: Número entero, positivo o negativo, sin decimales.
  - Ejemplo: `42`, `-7`, `0`

- **float**: Número real con decimales (coma flotante).
  - Ejemplo: `3.14`, `-0.001`, `2.0`

- **bool**: Valor booleano que representa verdadero o falso.
  - Ejemplo: `True`, `False`

- **str**: Cadena de texto, encerrada entre comillas simples o dobles.
  - Ejemplo: `"hola mundo"`, `'Python'`

- **tuple**: Colección inmutable de elementos ordenados.
  - Ejemplo: `(1, 2, 3)`, `("a", True, 3.5)`

- **list**: Colección mutable de elementos ordenados.
  - Ejemplo: `[1, 2, 3]`, `["manzana", "banana", "cereza"]`

- **set**: Colección no ordenada de elementos únicos.
  - Ejemplo: `{1, 2, 3}`, `{"a", "b", "c"}`

- **dict**: Colección de pares clave-valor, donde las claves son únicas.
  - Ejemplo: `{"nombre": "Ana", "edad": 30}`, `{1: "uno", 2: "dos"}`


En Python, **`None`** es un tipo especial que representa la ausencia de valor o un valor nulo. Es un objeto único de tipo `NoneType`, y su uso es comparable al `null` en otros lenguajes como JavaScript, Java o SQL. Se utiliza comúnmente para indicar que una variable aún no tiene un valor asignado o que una función no retorna nada de forma explícita.

In [ ]:
None

Podemos verificar el tipo de dato que almacena el objeto mediante la función `type()`. Por ejemplo, se verificará el tipo de dato que tienen asociado los siguientes objetos:

- El número entero 2

In [ ]:
2

2

In [ ]:
type(2)

int

- El texto *Tony*

In [ ]:
"Tony"

'Tony'

In [ ]:
type('Tony')

str

# Variables

Una variable contiene un valor y un nombre, en otras palabras, asocia un valur a un nombre. Por ejemplo, al valor *Tony* se le asociará el nombre `usuario`

In [ ]:
usuario = "Tony"

'Tony'

Se puede mostrar el valor asociado a una variable mediante su nombre

In [ ]:
usuario

'Tony'

### Nombrar variables

El nombre de las variables debe ser descriptivo, es decir, que le indiquen al lector el contexto del dato o a qué ser refiere. Por ejemplo, el valor *63* no indica por sí mismo a qué se refiere o su contexto, tampoco si le asociara el nombre *asdasdasdas*, es decir,

`asdasdasdas = 63`

Sin embargo, si le asociado el nombre `edad`, ya es más claro el contexto y sabemos que *63* se refiere a los años que tienen alguien o algo.

In [ ]:
edad = 63

edad

63

El nombre de las variables es sensible a mayúsculas y minúsculas. Por ejemplo, no es la misma variable `edad` y `Edad`

In [ ]:
Edad = 29

Edad

29

Sin embargo, el valor original que almacena `edad` sigue siendo *63*

In [ ]:
edad

63

La convención usual de Python para nombrar variables es la *snake_case*, esta convención consiste en usar minúculas y guiones bajos para construir los nombres de las variables. Por ejemplo, *nombre_usuario*, *edad_usuario*, *ciudad_capital* y *registro_evento*.

In [ ]:
ciudad_capital = "CDMX"

ciudad_capital

'CDMX'

Los siguientes identificadores se utilizan como **palabras reservadas** o **palabras clave del lenguaje**, y no pueden usarse como identificadores comunes. Deben escribirse exactamente como se muestran aquí:

| Palabra clave | Palabra clave | Palabra clave | Palabra clave | Palabra clave |
|---------------|---------------|---------------|---------------|---------------|
| False         | await         | else          | import        | pass          |
| None          | break         | except        | in            | raise         |
| True          | class         | finally       | is            | return        |
| and           | continue      | for           | lambda        | try           |
| as            | def           | from          | nonlocal      | while         |
| assert        | del           | global        | not           | with          |
| async         | elif          | if            | or            | yield         |

Hay más información en el siguiente enlace: [Palabras Reservadas](https://docs.python.org/3/reference/lexical_analysis.html#keywords)

Por ejemplo, no podemos tener una variable con el nombre `else` porque obtendríamos un error, pero sí podemos usar el nombre `else_nombre`

In [ ]:
else_nombre = "No marca error"
else_nombre

'No marca error'

### Asignación de variables

La forma más simple de asignar un valor a una variable es mediante el operador de igualdad `=`

In [ ]:
variable = "Valor"
variable

'Valor'

Pero también se puede realizar una asignación múltiple, es decir, asociar al mismo tiempo a varios nombres un valor. Se asocian en el orden que se pongan los valores, se puuede utilizar la siguiente sintaxis

`variable_1, variable_2, ... , variable_N = valor1, valor2, ..., valorN`

In [ ]:
nombre_usuario, edad_usuario, genero_usuario = "Tony", 29, "Hombre"

A continuación, se muestra que se asignaron los valores apropiadamente.

In [ ]:
nombre_usuario

'Tony'

In [ ]:
edad_usuario

29

In [ ]:
genero_usuario

'Hombre'

# Operadores aritméticos y de asignación compuesta

* basic arithmetics with +, -, *, /

* augmented assignment operators

In [ ]:
counter = 0

In [ ]:
# task: increment the counter by 1

In [ ]:
counter = counter + 1

In [ ]:
counter += 1

In [ ]:
counter *= 2

In [ ]:
counter

4

* other operators worth knowing about: **, %

In [ ]:
# 2 cubed

In [ ]:
2 ** 3

8

In [ ]:
2 ** 2

4

In [ ]:
2**4

16

In [ ]:
# modulo operator

In [ ]:
# num % div

In [ ]:
5 % 2

1

In [ ]:
5 % 3

2

In [ ]:
4 % 2

0

In [ ]:
# Q: check if a given number is odd or even

In [ ]:
12312312 % 2 # even

0

In [ ]:
123123211 % 2 # odd

1

* operator precedence: PEMDAS

In [ ]:
(2 - 1) * 4 ** 2

16

In [ ]:
1 * 4 ** 2

16

In [ ]:
1 * 16

16

In [ ]:
16

16

In [ ]:
num1 = 39

In [ ]:
num2 = 40

In [ ]:
num1 + num2

79

In [ ]:
39 + 40

79

In [ ]:
num1 * num2

1560

In [ ]:
num1 / num2

0.975

In [ ]:
num1 - num2

-1

# Números enteros y reales

## Números enteros

Recordemos que estos números es todo $x \in \mathbb{Z}$, pero computacionalmente, es cualquier variable que almacena un valor numérico sin parte decimal.

Consideremos el siguiente ejemplo de un número entero igual a 5.

* whole (complete) numbers, with *no* fractional value

In [ ]:
num5 = 4

type(num5)

int

Suelen ser útiles en casos donde se necesitan contadores, como en el ejemplo de los operadores de asignación compuestos con la variable *counter*.

## Flotantes

En `Python` es cualquier número que contenga alguna parte decimal.

In [ ]:
num6 = 5.5

type(num6)

float

Un número flotante también de puede obtener como resultado de una división entre números enteros cuando el residuo no es $0$.

In [ ]:
num7 = 4/10

print(num7)
type(num7)

0.4

float

Tal y como se dijo antes, una variable flotante peude ser cualquier valor numérico con parte decimal, incluso si este número es entero en un sentido matemático. En el siguiente ejemplo, la variable $num8 = 2.0$ tiene una parte decimal igual a $0$, por lo que matemáticamente $2.0$ es un número entero, pero computacionalmente, no, ya que $num8$ tiene explícitamente una parte decimal, aunque sea igual a $0$.

In [ ]:
num8 = 2.0

print(num8)
type(num8)

2.0

float

Basta con escribir el punto decimal después de un número entero para que este sea interpretado como una variable flotante.

In [1]:
num9 = 2.

print(num9)
type(num9)

2.0

float

## Uso de enteros y flotantes de manera conjunta

Esta subsección describe distintas características sobre el tipo de datos que arroja el uso de variable enteras y flotantes de manera conjunta.

Las operaciones aritméticas entre un número flotante y un entero, siempre da como resultado un número flotante.

- **Suma**: La suma $1.0 + 1$.

In [2]:
num10 = 1.0 + 1

print(num10)
type(num10)

2.0

float

- **Resta**: La resta $3.0 + 2$.

In [3]:
num11 = 3.0 - 2

print(num11)
type(num11)

1.0

float

- **Multiplicación**: El producto $10.0 * 10$.

In [4]:
num12 = 10 * 10.0

print(num12)
type(num12)

100.0

float

* we could convert floats to ints, and vice versa

In [ ]:
type(3.0)

float

In [ ]:
int(3.0)

3

In [ ]:
type(100)

int

In [ ]:
float(100)

100.0

In [ ]:
int(3.1416)

3

In [ ]:
int(3.99999999)

3

* floats take up more place in memory than ints

In [ ]:
# 3 vs 3.0

##### ⚠️ Floats Are Approximations!

* computers store floating-point numbers as binary (base 2) fractions

In [ ]:
0.1 # 1/10, base 10

0.1

In [ ]:
0.100000000000000010001

0.1

* this may produce unexpected results with certain real numbers that do not have a precise binary representation

In [ ]:
0.1 + 0.2 # = 0.3

0.30000000000000004

#### Booleans And Comparison Operators

* a bool represents the notion of True or False

In [ ]:
True

True

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
# type(true)

* we could generate bools using comparison operators

In [ ]:
age         = 43
retirement  = 64

In [ ]:
age >= retirement

False

In [ ]:
retirement < age

False

In [ ]:
retirement != age

True

In [ ]:
retirement == age # comparison operatior '=='

False

In [ ]:
# '=' assignment operator

* ...and combine them using logical operators

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
True and False

False

In [ ]:
False and False

False

In [ ]:
not False

True

In [ ]:
not True

False

In [ ]:
(retirement == age) or True

True

#### Strings

##### A string is juse a sequence of characters

* it is an ordered sequence of characters that could include any letters, numbers, symbols, punctuation, etc

In [ ]:
"Andy"

'Andy'

In [ ]:
type('Andy')

str

In [ ]:
type('Andy - python, pandas, v3.9!!!!')

str

* we create string using ' ' or " "

In [ ]:
# '' or ""

* what about strings with ' ' or " " in them?

In [ ]:
# "Let's code "pandorably""

In [ ]:
# 'Let's code "pandorably"'

In [ ]:
# use alternating quotes:

In [ ]:
"Let's code 'pandorably'"

"Let's code 'pandorably'"

In [ ]:
# we could use the \ char

In [ ]:
'Let\'s code "pandorably"'

'Let\'s code "pandorably"'

* there's also ' ' '

In [ ]:
'''this is the 'first' line of the string
this is the "second"
and this is the third'''

'this is the \'first\' line of the string\nthis is the "second"\nand this is the third'

In [ ]:
type('''this is the first line of the string
this is the second
and this is the third''')

str

In [ ]:
# "this is the first line
# this s the second"

* strings could be combined with +

In [ ]:
2 + 2

4

In [ ]:
'Andy' + ' ' + "Bek"

'Andy Bek'

* strings could be repeated with *

In [ ]:
2 * 3

6

In [ ]:
'python' * 3

'pythonpythonpython'

#### Methods

* methods are similar to functions, eg type()

In [ ]:
type('python')

str

In [ ]:
type(714)

int

In [ ]:
type(714.9)

float

* ...but they are always attached to a type of object

* different data types have different methods defined and available

 * some methods available on strings:
  > .upper(), .lower(), .isalpha(), .startsWith()

In [ ]:
'python'.upper()

'PYTHON'

In [ ]:
'PYthon'.lower()

'python'

In [ ]:
'pythonv3.9'.isalpha()

False

In [ ]:
'python'.startswith('py')

True

In [ ]:
'pythON'.endswith('on')

False

* BONUS: value substitutions with .format()

In [ ]:
"We will be using python v{}".format(3.9)

'We will be using python v3.9'

In [ ]:
"We will be using python v{py_v}, pandas v{pa_v}, and numpy v{nu_v}".format(py_v=3.9, pa_v='1.0.3', nu_v='1.2.1')

'We will be using python v3.9, pandas v1.0.3, and numpy v1.2.1'

#### Containers I: Lists

* lists are ordered sequences of elements

In [ ]:
students = ['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

* we denote them with [ ]

* each element has an index, the first starting at 0 (zero-based indexing)

* we select items from lists using the respective index

In [ ]:
students[1]

'Brie'

In [ ]:
students[0]

'Andrew'

* ...or sequence of indices (list slicing)

In [ ]:
students[0:2]

['Andrew', 'Brie']

* some slicing rules:
 > lower bound is inclusive, upper bound is exclusive

 > we could also select from the end using a negative indexing system

 > if we get out of bounds, pythons throws Indexerror

In [ ]:
# last element:

In [ ]:
students[-3]

'Brie'

In [ ]:
# students[20]

In [ ]:
# students[4]

#### Lists vs. Strings

* strings are sequences of characters, whereas

In [ ]:
py = 'python'

In [ ]:
type(py)

str

* lists are sequences of any object

In [ ]:
students

['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

In [ ]:
type(students)

list

In [ ]:
students[0]

'Andrew'

In [ ]:
py[0]

'p'

In [ ]:
students[0:2]

['Andrew', 'Brie']

In [ ]:
py[0:2]

'py'

* both lists and strings are ordered

* BONUS: lists are mutable; strings are immutable

In [ ]:
py

'python'

In [ ]:
py[-1]

'n'

In [ ]:
# py[-1] = 'N' # strings cannot be changed!

In [ ]:
py = 'pythoN'

In [ ]:
students

['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

In [ ]:
students[-1]

'Dr.Dre'

In [ ]:
students[-1] = 'Eminem'

In [ ]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

#### List Methods And Functions

* built-in functions: max, len, min, sorted

In [ ]:
ages = [23, 39, 12, 12.1]

In [ ]:
type(ages)

list

In [ ]:
max(ages)

39

In [ ]:
min(ages)

12

In [ ]:
len(ages)

4

In [ ]:
sorted(ages)

[12, 12.1, 23, 39]

In [ ]:
sorted(ages, reverse=True)

[39, 23, 12.1, 12]

* methods:
 > .append() to add items to a list

 > .pop() to remove by index

 > .remove() to remove by item

 > str.join(list) to join all elements of a list into a string

In [ ]:
ages

[23, 39, 12, 12.1]

In [ ]:
ages.append(24) # adds the element to the list; returns nothing

In [ ]:
ages

[23, 39, 12, 12.1, 24]

In [ ]:
ages.pop(-1) # removes the element from the list; return the removed element

24

In [ ]:
ages

[23, 39, 12, 12.1]

In [ ]:
# ages.pop(2)

In [ ]:
ages.remove(12)

In [ ]:
ages

[23, 39, 12.1]

In [ ]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [ ]:
''.join(students)

'AndrewBrieCynthiaEminem'

In [ ]:
type(''.join(students))

str

In [ ]:
', '.join(students)

'Andrew, Brie, Cynthia, Eminem'

#### Containers II: Tuples

* tuples are ordered and immutable containers of elements

In [ ]:
u_data = ('Ronald', 59)

In [ ]:
type(u_data)

tuple

In [ ]:
u_data_2 = 'Donald', 64

In [ ]:
type(u_data_2)

tuple

* denoted using parentheses... though optional

* each element has a zero-based index (just like lists)

In [ ]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [ ]:
students[0]

'Andrew'

In [ ]:
u_data_2

('Donald', 64)

In [ ]:
u_data_2[1]

64

In [ ]:
# u_data_2[0] = 'Barack'

* typically used to store values that are closely related together

In [ ]:
# SAT scores -> math, writing, reading

In [ ]:
sat_score = 790, 780, 640

In [ ]:
sat_score

(790, 780, 640)

#### Containers III: Sets

* unordered container of (only) unique values

* constructed using { } and comma-separated elements

In [ ]:
degrees = {'BSc', 'MA', 'PhD'}

In [ ]:
type(degrees)

set

In [ ]:
degrees2 = {'BSc', 'MA', 'PhD', 'MA'}

In [ ]:
type(degrees2)

set

In [ ]:
degrees2

{'BSc', 'MA', 'PhD'}

In [ ]:
# degrees[0]

* .add() and .discard() to add and remove values

In [ ]:
degrees

{'BSc', 'MA', 'PhD'}

In [ ]:
degrees.add('BA')

In [ ]:
degrees

{'BA', 'BSc', 'MA', 'PhD'}

In [ ]:
degrees.discard('MA')

In [ ]:
degrees

{'BA', 'BSc', 'PhD'}

* .intersection(), .difference(), and .union()

In [ ]:
degrees

{'BA', 'BSc', 'PhD'}

In [ ]:
degrees2

{'BSc', 'MA', 'PhD'}

In [ ]:
degrees.intersection(degrees2)

{'BSc', 'PhD'}

In [ ]:
degrees.union(degrees2) # degrees2.union(degrees)

{'BA', 'BSc', 'MA', 'PhD'}

In [ ]:
degrees.difference(degrees2)

{'BA'}

In [ ]:
degrees2.difference(degrees)

{'MA'}

* nice shortcut: remove all duplicate values from a list? use set().

In [ ]:
# task: remove all the unique elements from a list of degrees:

In [ ]:
highest_degree_earned = ['BA', 'BA', 'BSc', 'MA', 'MA', 'MA', 'PhD', 'High School GED', 'Some College', 'BA']

In [ ]:
type(highest_degree_earned)

list

In [ ]:
set(highest_degree_earned)

{'BA', 'BSc', 'High School GED', 'MA', 'PhD', 'Some College'}

In [ ]:
highest_degree_earned_unique = list(set(highest_degree_earned))

In [ ]:
highest_degree_earned_unique

['Some College', 'PhD', 'MA', 'High School GED', 'BA', 'BSc']

#### Containers IV: Dictionaries

* dictionaries are mutable and unordered

In [ ]:
student_scores = {'Andrew': 94, 'Jessica': 96, 'Brie': 79}

In [ ]:
type(student_scores)

dict

* they are built using { } and key-value pairs

* values are accessed using [ ] or with .get()

In [ ]:
student_scores['Jessica']

96

In [ ]:
student_scores['Brie']

79

In [ ]:
# student_scores['Andy']

In [ ]:
student_scores.get('Jessica')

96

In [ ]:
student_scores.get('Andy')

In [ ]:
print(student_scores.get('Andy'))

None

* adding and removing elements: dict[key] = value and dict.pop(key)

In [ ]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Brie': 79}

In [ ]:
# -> Tom got a 69

In [ ]:
student_scores['Tom'] = 69

In [ ]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Brie': 79, 'Tom': 69}

In [ ]:
student_scores.pop('Brie')

79

In [ ]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

#### Dictionary Keys And Values

In [ ]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

* the values could be any other value or container object, even other dictionaries

In [ ]:
student_scores2 = {
    'Andrew': 94,
    'Jessica': [96, 93],
    'Tom': {
        'bio': 94,
        'chem': 84,
        'phys': 79
    }
}

In [ ]:
type(student_scores2)

dict

In [ ]:
student_scores2

{'Andrew': 94, 'Jessica': [96, 93], 'Tom': {'bio': 94, 'chem': 84, 'phys': 79}}

* the keys could be any immutable data type

In [ ]:
student_scores3 = {
    'Andrew': 94,
    7: [96, 93],
    ('Tom', 'Winklevoss'): {
        'bio': 94,
        'chem': 84,
        'phys': 79
    }
}

In [ ]:
type(student_scores3)

dict

In [ ]:
student_scores3

{'Andrew': 94,
 7: [96, 93],
 ('Tom', 'Winklevoss'): {'bio': 94, 'chem': 84, 'phys': 79}}

* .keys(), .values(), .items()

In [ ]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

In [ ]:
student_scores.keys()

dict_keys(['Andrew', 'Jessica', 'Tom'])

In [ ]:
type(student_scores.keys())

dict_keys

In [ ]:
student_scores.values()

dict_values([94, 96, 69])

In [ ]:
student_scores.items()

dict_items([('Andrew', 94), ('Jessica', 96), ('Tom', 69)])

#### Membership Operators

In [ ]:
student_scores # dict

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

In [ ]:
students # list

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [ ]:
u_data # tuple

('Ronald', 59)

In [ ]:
degrees # set

{'BA', 'BSc', 'PhD'}

In [ ]:
his_name = "Andrew Dogood"
his_name # string

'Andrew Dogood'

* efficiently test membership with the *in* and *not in* operators

In [ ]:
'rew' in his_name

True

In [ ]:
'do' not in his_name

True

In [ ]:
'59' not in u_data

True

In [ ]:
'59' in u_data

False

In [ ]:
'BA' in degrees

True

In [ ]:
'BSc' not in degrees

False

In [ ]:
'Andrew' in students

True

In [ ]:
'Andy' in students

False

In [ ]:
'Brandon' in student_scores

False

In [ ]:
'Andrew' in student_scores

True

#### Controlling Flow: if, else, And elif

In [ ]:
passed = []
failed = []

student_1 = {'name': 'Jess', 'exam_score': 72, 'attendance': True }
student_2 = {'name': 'Briana', 'exam_score': 90, 'attendance': True }
student_3 = {'name': 'Jay', 'exam_score': 64, 'attendance': False }

* if statements allow us to control the flow of a program

In [ ]:
if student_1.get('exam_score') > 70:
  passed.append(student_1)

In [ ]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True}]

* else and elif keywords

In [ ]:
if student_2.get('exam_score') > 70:
  passed.append(student_2)
else:
  failed.append(student_2)

In [ ]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Briana', 'exam_score': 90, 'attendance': True}]

In [ ]:
if student_3.get('exam_score') > 70:
  passed.append(student_3)
elif student_3.get('exam_score') > 65 and student_3.get('attendance') == True:
  passed.append(student_3)
else:
  failed.append(student_3)

In [ ]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Briana', 'exam_score': 90, 'attendance': True}]

In [ ]:
failed

[{'name': 'Jay', 'exam_score': 64, 'attendance': False}]

* combining boolean expressions with *and*, *or*

* pitfall: using the assignment '=' operator instead of the comparison '=='

#### Truth Value Of Non-booleans

In [ ]:
if student_1.get('attendance') == True:
  print('passed!')
else:
  print('failed :(')

passed!

In [ ]:
student_1.get('attendance')

True

* shorthand syntax

In [ ]:
if student_1.get('attendance'):
  print('passed!')
else:
  print('failed :(')

passed!

In [ ]:
student_1.get('exam_score')

72

In [ ]:
if student_1.get('exam_score'):
  print('passed!')
else:
  print('failed :(')

passed!

In [ ]:
if 72:
  print('passed!')
else:
  print('failed :(')

passed!

In [ ]:
if 0.0:
  print('passed!')
else:
  print('failed :(')

failed :(

In [ ]:
if ['a']:
  print('passed!')
else:
  print('failed :(')

passed!

* all objects (not just booleans) in python have a truth value

* falsy objects: None, False, ( ), { }, [ ], 0, 0.0

#### For Loops

In [ ]:
should_greet = True

greetings = ['hey, welcome', 'this is python', 'pandas is coming soon']

language = 'python'

if should_greet:
  print(greetings[0])
  print(greetings[1])
  print(greetings[2])

hey, welcome
this is python
pandas is coming soon

* loops help us execute a block of code multiple times

* python has two types of loops: *for* and *while* (next lecture)

* for loops help us loop over iterables, which are objects that return one element at a time

In [ ]:
for gr in greetings:
  print(gr)

hey, welcome
this is python
pandas is coming soon

In [ ]:
for char in language:
  print(char)

p
y
t
h
o
n

#### The range() Immutable Sequence

In [ ]:
say_hi = 6

In [ ]:
for i in range(say_hi):
  print('hi')

hi
hi
hi
hi
hi
hi

In [ ]:
list(range(6)) # start = 0, step = 1

[0, 1, 2, 3, 4, 5]

* range() is an immutable sequence type that is very useful in for loops

In [ ]:
list(range(0, 6, 1))

[0, 1, 2, 3, 4, 5]

In [ ]:
range(3, 10, 1)

range(3, 10)

In [ ]:
list(range(3, 11, 1))

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

* ...start, stop, and step must be integers

#### While Loops

In [ ]:
balance = 2000
next_round_cost = 42.34
games_played = 0

# Q: how many games could be played if the cost to play doubles each round?

* *for* loops run a definite number of times whereas *while* loops repeat an indefinite number of times, i.e. until a condition is met

In [ ]:
# definite:
#   for each element in a list of elements,
#   for each character in a string,
#   for each elemement in a set, etc

# indefinite:
#   until a condition is met

* each time the loop runs, the condition is re-evaluated, repeating indefinitely until the condition evaluates to False

In [ ]:
# while (condition):
#   # loop body

In [ ]:
while balance > next_round_cost:
  games_played += 1
  balance -= next_round_cost
  next_round_cost *= 2

In [ ]:
games_played

5

In [ ]:
next_round_cost

1354.88

In [ ]:
balance

687.4599999999998

* very important: always make sure that the body of the while loop modifies some part of the condition

#### Break And Continue

In [ ]:
greetings2 = ['hey', 'hello', 'stop', 'what\'s up?', 'let me tell you a story, are you ready?', 'hey there', 'what\'s new?']

* break exits out of a loop

In [ ]:
for greeting in greetings2:
  if greeting == 'stop':
    break
  else:
    print(greeting)

hey
hello

In [ ]:
for greeting in greetings2:
  if greeting == 'stop': break

  print(greeting)

hey
hello

* continue skips a single iteration

In [ ]:
for greeting in greetings2:
  if len(greeting) > 11:
    continue
  else:
    print(greeting)

hey
hello
stop
what's up?
hey there
what's new?

In [ ]:
for greeting in greetings2:
  if len(greeting) > 11:  continue

  print(greeting)

hey
hello
stop
what's up?
hey there
what's new?

#### Zipping Iterables

In [ ]:
names = ['Andrew', 'Brian', 'Caledon', 'Deirdre']

score = [100, 90, 74, 84]

* zip creates an iterable (a zip object) combining values from several other iterables

In [ ]:
list(zip(names, score))

[('Andrew', 100), ('Brian', 90), ('Caledon', 74), ('Deirdre', 84)]

* values could be unpacked in a for loop

In [ ]:
for student_name, student_score in zip(names, score):
  print("{} got a {} on the exam".format(student_name, student_score))

Andrew got a 100 on the exam
Brian got a 90 on the exam
Caledon got a 74 on the exam
Deirdre got a 84 on the exam

In [ ]:
names = ['Andrew', 'Brian', 'Caledon', 'Deirdre']

score = [100, 90, 74, 84]

attendance = [True, True, False, True]

In [ ]:
for i in zip(names, score, attendance):
  print(i)

('Andrew', 100, True)
('Brian', 90, True)
('Caledon', 74, False)
('Deirdre', 84, True)

#### List Comprehensions

In [ ]:
numbers = [10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

students = [{'name': 'Andrea', 'score': 90},
            {'name': 'Astrid', 'score': 76},
            {'name': 'Beatrice', 'score': 64},
            {'name': 'Brenda', 'score': 96}]

# Q1: create a list containing all the odd integers in numbers
# Q2: create a list of all the students who scored more than 90

* comprehensions are a pythonic way to build lists, sets, and dictionaries without a for loop

In [ ]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [ ]:
# odd or even

In [ ]:
10 % 2

0

In [ ]:
13 % 2

1

In [ ]:
odds = []

In [ ]:
for number in numbers:
  if number % 2 == 1:
    odds.append(number)

In [ ]:
odds

[13, 1, 23]

In [ ]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [ ]:
[number for number in numbers if number % 2 == 1]

[13, 1, 23]

In [ ]:
# Q2

In [ ]:
students

[{'name': 'Andrea', 'score': 90},
 {'name': 'Astrid', 'score': 76},
 {'name': 'Beatrice', 'score': 64},
 {'name': 'Brenda', 'score': 96}]

In [ ]:
[student for student in students if student.get('score') >= 90]

[{'name': 'Andrea', 'score': 90}, {'name': 'Brenda', 'score': 96}]

In [ ]:
[student.get('name') for student in students if student.get('score') >= 90]

['Andrea', 'Brenda']

#### Defining Functions

In [ ]:
scores = [90, 73, 43, 100]

students = [{'name': 'Andrea', 'scores': [90, 73, 43, 100]}, # 'average': 76.5, 'passed': True
            {'name': 'Astrid', 'scores': [76, 44, 66, 73]},
            {'name': 'Beatrice', 'scores': [64, 74, 91, 64]},
            {'name': 'Brenda', 'scores': [96, 82, 76, 100]}]

In [ ]:
# Q1: add an average score to each student dictionary in the students list

# Q2: add a passed (True/False) to each dictionary if the student's average is higher than 70

* functions allow us to simplify and speed up our code by organizing it around reusable blocks

* functions are great for generalizing repetitive tasks

In [ ]:
def get_average(scores_list): # function header
  _avg = sum(scores_list) / len(scores_list)

  return _avg

In [ ]:
def did_pass(score_avg):
  return True if score_avg > 70 else False

In [ ]:
for student in students:
  score_avg = get_average(student.get('scores'))

  student['average']  = score_avg
  student['passed']   = did_pass(score_avg)

In [ ]:
students

[{'name': 'Andrea',
  'scores': [90, 73, 43, 100],
  'average': 76.5,
  'passed': True},
 {'name': 'Astrid',
  'scores': [76, 44, 66, 73],
  'average': 64.75,
  'passed': False},
 {'name': 'Beatrice',
  'scores': [64, 74, 91, 64],
  'average': 73.25,
  'passed': True},
 {'name': 'Brenda',
  'scores': [96, 82, 76, 100],
  'average': 88.5,
  'passed': True}]

In [ ]:
# get_average(scores)

In [ ]:
# get_average(scores2)

In [ ]:
did_pass(70)

False

In [ ]:
did_pass(71)

True

In [ ]:
scores

[90, 73, 43, 100]

In [ ]:
sum(scores)

306

In [ ]:
len(scores)

4

In [ ]:
sum(scores) / len(scores)

76.5

In [ ]:
scores2 = [60, 72, 90, 100]

In [ ]:
sum(scores2) / len(scores2)

80.5

#### Function Arguments: Positional vs Keyword

In [ ]:
# Q: define a function that formats a name from 'Mary Anderson' to 'Anderson, Mary'

In [ ]:
def reverse_name(first, last):
  return "{}, {}".format(last, first)

In [ ]:
reverse_name('Mary', 'Anderson') # positional

'Anderson, Mary'

In [ ]:
reverse_name(first='Mary', last='Anderson') # keyword

'Anderson, Mary'

In [ ]:
reverse_name(last='Anderson', first='Mary')

'Anderson, Mary'

In [ ]:
reverse_name('Anderson', 'Mary') # wrong!

'Mary, Anderson'

In [ ]:
reverse_name('Mary', last='Anderson')

'Anderson, Mary'

In [ ]:
# reverse_name(first='Mary', 'Anderson') # wrong, syntaxerror!

#### Lambdas

In [ ]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

* lambdas are functions that don't have a name, i.e. they're anonymous

In [ ]:
# def function_name(param):
#   # function definition

In [ ]:
lambda x: x ** 3

In [ ]:
a = 10

In [ ]:
# _(10)

In [ ]:
cube_it = lambda x: x ** 3

In [ ]:
cube_it(20)

8000

In [ ]:
def cube_it2(n):
  return n ** 3

* lambdas as great for doing one thing in one place

* they contain only one statement and they automatically return the result of that statement

In [ ]:
# map()

In [ ]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [ ]:
list(map(cube_it2, numbers))

[1000, 8, 64, 1728, 2197, 1, 360944128, 12167, 8, 7077888]

In [ ]:
list(map(lambda x: x ** 3, numbers))

[1000, 8, 64, 1728, 2197, 1, 360944128, 12167, 8, 7077888]

#### Importing Modules

In [ ]:
def get_average(scores_list):
  _avg = sum(scores_list) / len(scores_list)

  return _avg

* modules define variables, functions, or classes that could be referenced by other programs

* a lot of functionality comes with modules from Python Standard Library

* we access modules using the *import* keyword

In [ ]:
import statistics

In [ ]:
scores

[90, 73, 43, 100]

In [ ]:
get_average(scores)

76.5

In [ ]:
statistics.mean(scores)

76.5

* to import specific functions from a module we use *from < module > import < function >*

In [ ]:
from statistics import mean

In [ ]:
mean(scores)

76.5

* we could alias our imports using the *as* keyword

In [ ]:
from statistics import mean as avg

In [ ]:
avg(scores)

76.5

In [ ]:
# import pandas as pd
# from matplotlib import pyplot as plt