# Fundamento de Python

El propósito de esta sección es proporcionar las bases necesarias para poder abordar el manejo de *dataframes*

In [1]:
import sys

In [ ]:
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

Agenda:

- Tipos de datos fundamentales
- Contenedores
- Iteraciones y membership
- Flujo de control: if, else, elif y for, while loops
- Comprehenciones
- Funciones declaradas y anónimas
- Módulos y más

## Tipos de datos

En Python cada objeto tiene asignado un tipo de dato, en específico y es importante conocer el tipo de dato que almacena el objeto, ya que el tipo de dato determina las porpiedades del objeto. Si bien, existen muchas clases de datos, los principales son los siguientes:

In [4]:
# fundamental data types
int, float, bool, str, tuple, list, set, dict

(int, float, bool, str, tuple, list, set, dict)

En general, estas clasificaciones de datos se pueden definir de la siguiente manera:

- **int**: Número entero, positivo o negativo, sin decimales.
  - Ejemplo: `42`, `-7`, `0`

- **float**: Número real con decimales (coma flotante).
  - Ejemplo: `3.14`, `-0.001`, `2.0`

- **bool**: Valor booleano que representa verdadero o falso.
  - Ejemplo: `True`, `False`

- **str**: Cadena de texto, encerrada entre comillas simples o dobles.
  - Ejemplo: `"hola mundo"`, `'Python'`

- **tuple**: Colección inmutable de elementos ordenados.
  - Ejemplo: `(1, 2, 3)`, `("a", True, 3.5)`

- **list**: Colección mutable de elementos ordenados.
  - Ejemplo: `[1, 2, 3]`, `["manzana", "banana", "cereza"]`

- **set**: Colección no ordenada de elementos únicos.
  - Ejemplo: `{1, 2, 3}`, `{"a", "b", "c"}`

- **dict**: Colección de pares clave-valor, donde las claves son únicas.
  - Ejemplo: `{"nombre": "Ana", "edad": 30}`, `{1: "uno", 2: "dos"}`


En Python, **`None`** es un tipo especial que representa la ausencia de valor o un valor nulo. Es un objeto único de tipo `NoneType`, y su uso es comparable al `null` en otros lenguajes como JavaScript, Java o SQL. Se utiliza comúnmente para indicar que una variable aún no tiene un valor asignado o que una función no retorna nada de forma explícita.

In [5]:
None

Podemos verificar el tipo de dato que almacena el objeto mediante la función `type()`. Por ejemplo, se verificará el tipo de dato que tienen asociado los siguientes objetos:

- El número entero 2

In [6]:
2

2

In [7]:
type(2)

int

- El texto *Tony*

In [342]:
"Tony"

'Tony'

In [343]:
type('Tony')

str

# Variables

Una variable contiene un valor y un nombre, en otras palabras, asocia un valor a un nombre. Por ejemplo, al valor *Tony* se le asociará el nombre `usuario`

In [ ]:
usuario = "Tony"

'Tony'

Se puede mostrar el valor asociado a una variable mediante su nombre

In [677]:
usuario

'Tony'

### Nombrar variables

El nombre de las variables debe ser descriptivo, es decir, que le indiquen al lector el contexto del dato o a qué ser refiere. Por ejemplo, el valor *63* no indica por sí mismo a qué se refiere o su contexto, tampoco si le asociara el nombre *asdasdasdas*, es decir,

`asdasdasdas = 63`

Sin embargo, si le asociado el nombre `edad`, ya es más claro el contexto y sabemos que *63* se refiere a los años que tienen alguien o algo.

In [678]:
edad = 63

edad

63

El nombre de las variables es sensible a mayúsculas y minúsculas. Por ejemplo, no es la misma variable `edad` y `Edad`

In [680]:
Edad = 29

Edad

29

Sin embargo, el valor original que almacena `edad` sigue siendo *63*

In [681]:
edad

63

La convención usual de Python para nombrar variables es la *snake_case*, esta convención consiste en usar minúculas y guiones bajos para construir los nombres de las variables. Por ejemplo, *nombre_usuario*, *edad_usuario*, *ciudad_capital* y *registro_evento*.

In [682]:
ciudad_capital = "CDMX"

ciudad_capital

'CDMX'

Los siguientes identificadores se utilizan como **palabras reservadas** o **palabras clave del lenguaje**, y no pueden usarse como identificadores comunes. Deben escribirse exactamente como se muestran aquí:

| Palabra clave | Palabra clave | Palabra clave | Palabra clave | Palabra clave |
|---------------|---------------|---------------|---------------|---------------|
| False         | await         | else          | import        | pass          |
| None          | break         | except        | in            | raise         |
| True          | class         | finally       | is            | return        |
| and           | continue      | for           | lambda        | try           |
| as            | def           | from          | nonlocal      | while         |
| assert        | del           | global        | not           | with          |
| async         | elif          | if            | or            | yield         |

Hay más información en el siguiente enlace: [Palabras Reservadas](https://docs.python.org/3/reference/lexical_analysis.html#keywords)

Por ejemplo, no podemos tener una variable con el nombre `else` porque obtendríamos un error, pero sí podemos usar el nombre `else_nombre`

In [683]:
else_nombre = "No marca error"
else_nombre

'No marca error'

### Asignación de variables

La forma más simple de asignar un valor a una variable es mediante el operador de igualdad `=`

In [684]:
variable = "Valor"
variable

'Valor'

Pero tambi+en se puede realizar una asignación múltiple, es decir, asociar al mismo tiempo a varios nombres un valor. Se asocian en el orden que se pongan los valores, se puuede utilizar la siguiente sintaxis

`variable_1, variable_2, ... , variable_N = valor1, valor2, ..., valorN`

In [690]:
nombre_usuario, edad_usuario, genero_usuario = "Tony", 29, "Hombre"

A continuación, se muestra que se asignaron los valores apropiadamente.

In [691]:
nombre_usuario

'Tony'

In [688]:
edad_usuario

29

In [689]:
genero_usuario

'Hombre'

### Operadores aritméticos y de asignación aumentada

#### Operadores aritméticos básicos

Los operadores entendidos como básicos en la aritmética se componen de la suma, resta, multiplicación y la división.

Para los ejemplos de estos operadores, se crean dos variables numéricas:

In [22]:
num1 = 36
num2 = 12
num3 = 7
num4 = 3

- **Suma**: Se indica mediante el símbolo `+`

In [17]:
print("La suma de",num1,"y",num2,"es",num1 + num2)

La suma de 36 y 12 es 48

- **Resta**: Se indica con el símbolo `-`

In [18]:
print("La resta de",num1,"menos",num2,"es",num1 - num2)

La resta de 36 menos 12 es 24

- **Multiplicación**: La multiplicación se señala con el símbolo `*`

In [19]:
print("La multiplicación de",num1,"por",num2,"es",num1 * num2)

La multiplicación de 36 por 12 es 432

- **División**: La división se señala a través del símbolo `/`

In [20]:
print("La división de",num1,"entre",num2,"es",num1 / num2)

La división de 36 entre 12 es 3.0

- **Potencia**: Se indica con dos asteríscos seguidos `**`

In [23]:
print(num3,"elevado a la potencia",num4,"es", num3**num4)

7 elevado a la potencia 3 es 343

- **Módulo**: El resto de la división se señala con el símbolo `%`

In [24]:
print("El módulo o resto de dividir",num3,"por",num4,"es", num3%num4)

El módulo o resto de dividir 7 por 3 es 1

In [25]:
print("El módulo o resto de dividir",num4,"por",num3,"es", num4%num3)

El módulo o resto de dividir 3 por 7 es 3

Se puede ocupar para determinar si un número es par o impar porque todo número par es divisible entre 2, lo que implica que el resto o módulo 2 es 0.

In [30]:
print("El módulo o resto de dividir 16 por 2 es", 16%2,", por lo tanto 16 es impar")

El módulo o resto de dividir 16 por 2 es 0 , por lo tanto 16 es impar

In [29]:
print("El módulo o resto de dividir",num3,"por 2 es", num3%2,", por lo tanto",num3,"es impar")

El módulo o resto de dividir 7 por 2 es 1 , por lo tanto 7 es impar

#### Operadores de asignación aumentados

Un operador de asignación aumentada combina un operador aritmético con el operador de asignación (`=`). Su objetivo principal es simplificar el código, haciéndolo más legible y corto, especialmente cuando se necesita actualizar repetidamente el valor de una variable.

Por ejemplo, sea `X` cualesquiera de los operadores aritméticos básicos.

- **Suma**

In [34]:
print("Operación explícita")
contador1 = 0
print("El valor del contador antes de aplicar la operación es:",contador1)
contador1 = contador1 + 1
print("El valor del contador después de aplicar la operación es:",contador1)

Operación explícita
El valor del contador antes de aplicar la operación es: 0
El valor del contador después de aplicar la operación es: 1

In [35]:
print("Operación explícita")
contador1 = 0
print("El valor del contador antes de aplicar la operación es:",contador1)
contador1 += 1
print("El valor del contador después de aplicar la operación es:",contador1)

Operación explícita
El valor del contador antes de aplicar la operación es: 0
El valor del contador después de aplicar la operación es: 1

- **Resta**

In [36]:
print("Operación explícita")
contador1 = 10
print("El valor del contador antes de aplicar la operación es:",contador1)
contador1 -= 2
print("El valor del contador después de aplicar la operación es:",contador1)

Operación explícita
El valor del contador antes de aplicar la operación es: 10
El valor del contador después de aplicar la operación es: 8

- **Multiplicación**

In [39]:
print("Operación explícita")
contador1 = 2
print("El valor del contador antes de aplicar la operación es:",contador1)
contador1 *= 3
print("El valor del contador después de aplicar la operación es:",contador1)

Operación explícita
El valor del contador antes de aplicar la operación es: 2
El valor del contador después de aplicar la operación es: 6

- **División**

In [41]:
print("Operación explícita")
contador1 = 20
print("El valor del contador antes de aplicar la operación es:",contador1)
contador1 /= 2
print("El valor del contador después de aplicar la operación es:",contador1)
contador1 /= 2
print("El valor del contador después de aplicar la operación es:",contador1)

Operación explícita
El valor del contador antes de aplicar la operación es: 20
El valor del contador después de aplicar la operación es: 10.0
El valor del contador después de aplicar la operación es: 5.0

#### PEMDAS

La siglas PEMDAS indican el orden de prioridad en el que **Python** realiza las operaciones matemáticas:

1. **P**: Paréntesis.
2. **E**: Exponentes/Potencias.
3. **M**: Multiplicación.
4. **D**: División.
5. **A**: Adición/Suma.
6. **S**: Substracción/Resta.

Ejemplo: Se calculará 

$$
(2 - 1) * 4 ** 2
$$

Siguiendo la jerarquización **PEMPDAS**, el resultado es el siguiente:

$$
(2 - 1) * 4 ** 2 = 1 * 4 ** 2 = 1 * 16 = 16
$$

Esto concuerda con el resultado obtenido con **Python**

In [31]:
(2 - 1) * 4 ** 2

16

### Enteros y flotantes

#### Enteros

Tal y como se habló anteriormente, en **Python** se entiende una variable entera como cualquier variable numérica que *no* tenga ningún valor fraccional, es decir, que la parte decimal es igual a 0.

Se crean algunas variables con estas características.

In [44]:
num5,num6 = 4,10

Con la función `type()` se obtiene el tipo de dato asociado a la variable, en este caso, se verificará que las variables sean de tipo entero, es decir, `int`

In [48]:
print(f"La variable {num5=} tiene la clase:",type(num5))

La variable num5=4 tiene la clase: <class 'int'>

In [49]:
print(f"La variable {num6=} tiene la clase:",type(num6))

La variable num6=10 tiene la clase: <class 'int'>

Las variables enteras suelen usarse en conteos dentro de búcles, pero esto se verá más adelante en la sección de ciclos con la instrucción `for`.

#### Flotantes

Las variables de tipo `float` representan números reales cuya parte decimal es distinta a cero, tal y como se mencionó en secciones anteriores. Sin embargo, en **Python** se pueden obtener variable de clase flotante a partir de variable de tipo entera.

- Al dividir una variable enteras entre otra variable entera da como resultado una variable de tipo flotante independientemente de si el resultado tiene parte decimal igual a cero o no.

In [54]:
num7 = 4/2
print(f"La división num7 = 4/2 = {num7} tiene la clase:",type(num7))

La división num7 = 4/2 = 2.0 tiene la clase: <class 'float'>

In [56]:
num8 = 4/10
print(f"La división num8 = 4/10 = {num8} tiene la clase:",type(num8))

La división num8 = 4/10 = 0.4 tiene la clase: <class 'float'>

- Variables enteras a las cuales se les puso parte decimal, incluso si la parte decimal es igual a 0.

In [61]:
num9 = 2.0
print(f"La variable {num9=} tiene la clase:",type(num9))

La variable num9=2.0 tiene la clase: <class 'float'>

Ocurre lo mismo si solo es expresa el punto decimal, ya que queda implícita la parte decimal igual a 0.

In [60]:
num10 = 2.
print(f"La variable {num10=}=2. tiene la clase:",type(num10))

La variable num10=2.0=2. tiene la clase: <class 'float'>

#### Relación entre variables enteras y flotantes

Algunos aspectos importantes entre la interacción de estas variables se habla a continuación.

##### Operaciones entre flotantes y enteros

Cualquier operación aritmética entre alguna variable entera y una flotante da como resultado una variable flotante.

In [64]:
num11 = 1.0 + 1
print(f"La división num11 = 1.0 + 1 = {num11} tiene la clase:",type(num11))

La división num11 = 1.0 + 1 = 2.0 tiene la clase: <class 'float'>

In [65]:
num12 = 3.0 - 2
print(f"La división num12 = 3.0 - 2 = {num12} tiene la clase:",type(num12))

La división num12 = 3.0 - 2 = 1.0 tiene la clase: <class 'float'>

In [66]:
num13 = 10 * 10.0
print(f"La división num13 = 10 * 10.0 = {num13} tiene la clase:",type(num13))

La división num13 = 10 * 10.0 = 100.0 tiene la clase: <class 'float'>

##### Conversión entre números flotantes y enteros

Cualquier flotante se puede transformar a entero y vice versa.

- **Entero a flotante**: La función que realiza esta tarea es `float()`. Cuando se transforma de entero a flotante, solo se le agrega un cero después del punto decimal, es decir, una parte decimal igual a cero.
 
Se transforma el número entero 100 a un número flotante.

In [6]:
num14 = 100
print(
    f"El num14 = {num14} tiene la clase ",
    type(num14),
    "\nAl aplicar float(num14), num14 = ",
    float(num14),
    " tiene la clase ",
    type(float(num14))
)

El num14 = 100 tiene la clase  <class 'int'>
Al aplicar float(num14), num14 =  100.0  tiene la clase  <class 'float'>

- **Flotante a Entero**: La función que realiza esta tarea es `int()`. Al transformar un valor de flotante a entero, se le quita la parte decimal sin redondear, es decir, se aplica la función piso o parte entera al número.

El numero 3.0 tiene una parte decimal igual a cero en **Python**, pero al aplicarle la función `int()`, se quita la parte decimal, aunque sea igual a cero.

In [10]:
num15 = 3.0
print(
    f"El num15 = {num15} tiene la clase ",
    type(num15),
    "\nAl aplicar int(num15), num15 = ",
    int(num15),
    " tiene la clase ",
    type(int(num15))
)

El num15 = 3.0 tiene la clase  <class 'float'>
Al aplicar int(num15), num15 =  3  tiene la clase  <class 'int'>

Se transforma el número 3.1416 a entero, por lo cual, el resultado tiene que ser *3*.

In [9]:
num16 = 3.1416
print(
    f"El num16 = {num16} tiene la clase ",
    type(num16),
    "\nAl aplicar int(num16), num16 = ",
    int(num16),
    " tiene la clase ",
    type(int(num16))
)

El num16 = 3.1416 tiene la clase  <class 'float'>
Al aplicar int(num16), num16 =  3  tiene la clase  <class 'int'>

Se transforma el número 3.99999999 a entero, por lo cual, el resultado tiene que ser *3*, aun cuando el número está más cerca del número 4.

In [11]:
num17 = 3.99999999
print(
    f"El num17 = {num17} tiene la clase ",
    type(num17),
    "\nAl aplicar int(num17), num17 = ",
    int(num17),
    " tiene la clase ",
    type(int(num17))
)

El num17 = 3.99999999 tiene la clase  <class 'float'>
Al aplicar int(num17), num17 =  3  tiene la clase  <class 'int'>

##### Espacio en memoria de flotantes

El espacio en memoria que ocupan los números flotantes es mayor que la de los números enteros. En el siguiente ejemplo, se compara el mismo número, como entero y como flotante.

Para ver el espacio que ocupa en memoria una variable, se usa la función `sys.getsizeof()` de la librería `sys`.

In [18]:
import sys

print(f"3: {sys.getsizeof(3)} bytes")
print(f"3.0: {sys.getsizeof(3.0)} bytes")

3: 28 bytes
3.0: 24 bytes

##### Flotantes como aproximaciones

La aritmética de punto flotante *IEEE 754* representa números en base 2 con precisión finita. Números decimales exactos en base 10 pueden ser fracciones binarias periódicas infinitas, imposibles de almacenar sin truncamiento, lo que genera errores de redondeo intrínsecos.

Por ejemplo, el número 0.1 = 1/10, que en base 10 representa una fracción finita. Sin embargo, el número *0.100000000000000010001* es aproximadamente igual a 0.1 en base binaria

In [12]:
num18 = 0.1
num19 = 0.100000000000000010001
print(
    f"El num18 = {num17} y num19 = {num19} son iguales en Python: num18 == num19 es igual a",
    num18 == num19
)

El num18 = 3.99999999 y num19 = 0.1 son iguales en Python: num18 == num19 es igual a True

Esto también ocurre con operaciones aritméticas que pueden devolver resultados que no son completamente precisos. Por ejemplo, la suma de los número decimales 0.1 y 0.2 da como resultado 0.3, pero en **Python** es igual a *0.30000000000000004*.

In [43]:
0.1 + 0.2 # = 0.3

0.30000000000000004

### Booleanos y operados de comparación

#### Valores booleanos

Tal y como se vio anteriormente, un valor booleano es un tipo de dato que representa uno de dos estados posibles: **Verdadero** (`True`) y **Falso** (`False`). Se recuerda que los valores entre paréntesis para cada uno de estos dos estados son las palabras reservadas para asociados a cada uno de estos valores.

En el siguiente código, se puede apreciar la clase de estos dos datos:

In [7]:
bool1 = True
bool2 = False

print(
    f"Se tiene el valor bool1 = {bool1} y bool2 = {bool2}, donde cada uno tiene las siguientes clases respectivamente:\n",
    type(bool1)," y ", type(bool2)
)

Se tiene el valor bool1 = True y bool2 = False, donde cada uno tiene las siguientes clases respectivamente:
 <class 'bool'>  y  <class 'bool'>

#### Operadores lógicos

Cuando se realiza cualquier comparación lógica o se usa cualquier operador lógico, da como resultado un valor booleano. Por ejemplo, cuando se evalua en **Python** si `4 > 5`, se obtiene un valor booleano porque el resultado de esa comparación solo puede tener dos valores posibles (**Verdadero** o **Falso**), ya que en esa expresión se evalua si la premisa *cuatro es mayor que cinco* es cierta o no. Los operadores lógicos se pueden clasificar en tres grupos principales: de comperación o relacionales, operadores booleanos y operadores de pertenencia.

En los siguientes ejemplos de este apartado se trabajará con las variables `bool1 = True` y `bool2 = False` para mostrar el resultado de estas variables cuando se les aplica cada operador lógico. 

##### Operadores de comparación o relacionales

Comparan dos valores y devuelven un valor booleano que idica si la relación establecida se cumple o no.

*   x == y (**Operador de igualdad**): Compara si **x** es igual a **y**.

In [26]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 == bool2 es:\n",
    bool1 == bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 == bool2 es:
 False

También se puede aplicar con variables numéricas, no solo booleanas. En el siguiente ejemplo se evalua si una persona con la edad de 43 años tiene la edad de jubilación, donde la edad de jubilación es de 64 años.

In [55]:
edad = 43
edad_retiro = 64

print(
    f"""
    La edad del trabajador es {edad},
    mientras que la edad de retiro es {edad_retiro}.
    \nPor lo tanto, se evalua si tiene la edad de retiro, es decir, edad = edad_retiro:
    """,
    edad == edad_retiro
)

    La edad del trabajador es 43,
    mientras que la edad de retiro es 64.

Por lo tanto, se evalua si tiene la edad de retiro, es decir, edad = edad_retiro:
     False

*   x != y (**Operador de desigualdad**): Compara si **x** es diferente de **y**

In [24]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 != bool2 es: \n",
    bool1 != bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 != bool2 es:
 True

Del ejemplo anterior, se verifica si la edad del trabjador es distinta a la edad de retiro.

In [52]:
print(
    f"""La edad del trabjador es edad = {edad}, mientras que la edad de retiro es igual a edad_retiro = {edad_retiro}\n
    Por lo tanto, la premisa edad != edad_retiro es:\n""",
    edad != edad_retiro
)

La edad del trabjador es edad = 43, mientras que la edad de retiro es igual a edad_retiro = 64

    Por lo tanto, la premisa edad != edad_retiro es:
 True

*   x < y (**Operador menor que**): Compara si **x** es menor que **y**

`False` se considera menor a `True` debido a que se asocia el 0 con el valor *Falso*, mientras que se asocia el 1 para los valores *Verdaderos*. En los siguientes dos ejemplos se puede ver esto:

In [32]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 < bool2 es igual a \n",
    bool1 < bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 < bool2 es igual a
 False

In [34]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 < bool2 es igual a \n",
    bool2 < bool1
)

Se tiene bool1 = True y bool2 = False, entonces bool1 < bool2 es igual a
 True

*   x > y (**Operador mayor que**): Compara si **x** es mayor que **y**

In [35]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 > bool2 es igual a \n",
    bool1 > bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 > bool2 es igual a
 True

*   x <= y (**Operador menor o igual que**): Compara si **x** es menor o igual que **y**

In [36]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 <= bool2 es igual a \n",
    bool1 <= bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 <= bool2 es igual a
 False

*   x >= y (**Operador mayor o igual que**): Compara si **x** es mayor o igual que **y**

In [37]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 >= bool2 es igual a \n",
    bool1 >= bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 >= bool2 es igual a
 True

Se evalua si la persona de 43 años ya se puede jubilar.

In [53]:
print(
    f"""
    La edad del trabajador es {edad},
    mientras que la edad de retiro es {edad_retiro}.
    \nSolo se puede retirar si edad > edad_retiro.
    Por lo tanto, se evalua si ya se puede retirar:
    """,
    edad >= edad_retiro
)

    La edad del trabajador es 43,
    mientras que la edad de retiro es 64.

Solo se puede retirar si edad > edad_retiro.
    Por lo tanto, se evalua si ya se puede retirar:
     False

##### Operadores booleanos

Operan sobre valores booleanos (o expresiones que se evalúan como booleanos) y devuelven un resultado booleano. Estos operadores son análogos a los operadores lógicos con los que se construyen las tablas de verdad la rama de estudio lógica proposicional.

*   x and y (**Operador Y lógico**): Devuelve True si **x** y **y** son verdaderos

In [38]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 and bool2 es igual a \n",
    bool1 and bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 and bool2 es igual a
 False

*   x or y (**Operador O lógico**): Devuelve True si **x** o **y** (o ambos) son verdaderos

In [39]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 or bool2 es igual a \n",
    bool1 or bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 or bool2 es igual a
 True

##### Operadores de identidad y pertenencia

Verifican relaciones específicas entre objetos o elementos.

*   not x (**Operador NO lógico**): Devuelve True si **x** es falso, y viceversa

In [40]:
print(
    f"Se tiene bool1 = {bool1}, entonces not bool1 es igual a \n",
    not bool1
)

Se tiene bool1 = True, entonces not bool1 es igual a
 False

In [41]:
print(
    f"Se tiene bool2 = {bool2}, entonces not bool2 es igual a \n",
    not bool2
)

Se tiene bool2 = False, entonces not bool2 es igual a
 True

*   x is y (**Operador de identidad**): Devuelve True si **x** y **y** son el mismo objeto en memoria

In [42]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 is bool2 es igual a \n",
    bool1 is bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 is bool2 es igual a
 False

In [43]:
print(
    f"Se tiene bool1 = {bool1}, entonces bool1 is True es igual a \n",
    bool1 is True
)

Se tiene bool1 = True, entonces bool1 is True es igual a
 True

*   x is not y (**Operador de identidad negado**): Devuelve True si **x** y **y** no son el mismo objeto

In [44]:
print(
    f"Se tiene bool1 = {bool1} y bool2 = {bool2}, entonces bool1 is not bool2 es igual a \n",
    bool1 is not bool2
)

Se tiene bool1 = True y bool2 = False, entonces bool1 is not bool2 es igual a
 True

In [45]:
print(
    f"Se tiene bool1 = {bool1}, entonces bool1 is not True es igual a \n",
    bool1 is not True
)

Se tiene bool1 = True, entonces bool1 is not True es igual a
 False

*   x in y (**Operador de pertenencia**): Devuelve True si **x** está presente en **y** (colección, secuencia, etc.)

In [48]:
lista = [True, "R", 42]
print(f"   lista = {lista}")
print(
    f"Se tiene bool1 = {bool1}, entonces bool1 in lista es igual a \n",
    bool1 in lista
)

   lista = [True, 'R', 42]
Se tiene bool1 = True, entonces bool1 in lista es igual a
 True

In [49]:
print(
    f"Se tiene bool2 = {bool2}, entonces bool2 in lista es igual a \n",
    bool2 in lista
)

Se tiene bool2 = False, entonces bool2 in lista es igual a
 False

*   x not in y (**Operador de pertenencia negado**): Devuelve True si **x** no está presente en **y**

In [50]:
print(
    f"Se tiene bool1 = {bool1}, entonces bool1 not in lista es igual a \n",
    bool1 not in lista
)
print(
    f"Se tiene bool2 = {bool2}, entonces bool2 not in lista es igual a \n",
    bool2 not in lista
)

Se tiene bool1 = True, entonces bool1 not in lista es igual a
 False
Se tiene bool2 = False, entonces bool2 not in lista es igual a
 True

In [417]:
retirement != age

True

##### Combinaciones de valores booleanos

Los operadores booleanos se pueden aplicar a cualquier valor booleanos, incluso si este procede directamente de la combinación de diversas premisas lógicas. Por ejemplo, se evalua si las expresiones `edad <= edad_retiro` y `edad > 18` son ciertas de manera simultánea, es decir, si el trabajador aún no se puede retirar, pero es mayor de edad (18 años).

In [51]:
print(
    f"""
    La expresión edad <= edad_retiro es {edad <= edad_retiro},\n
    mientras que la premisa edad > 18 es {edad > 18}.\n
    Por lo tanto, la veracidad de estas premisas de manera simultánea, edad <= edad_retiro and edad > 18, es:\n
    """,
    edad <= edad_retiro and edad > 18
)

    La expresión edad <= edad_retiro es True,

    mientras que la premisa edad > 18 es True.

    Por lo tanto, la veracidad de estas premisas de manera simultánea, edad <= edad_retiro and edad > 18, es:

     True

### Strings

En **Python** se define un *string* como una secuencia ordenada de caracteres. Estos caracteres pueden incluir cualquier letra, número, símbolo o puntuación, entre otros. En particular, para denotar una variable de tipo *string* en **Python** se usan las comillas simples o dobles como se verá a lo largo de este apartado.

* **Comillas simples ('')**

In [58]:
str1 = 'Tony'

print(f"La variable str1 contiene el texto {str1}")

La variable str1 contiene el texto Tony

* **Comillas dobles ("")**

In [59]:
str2 = "Tony"

print(f"La variable str2 contiene el texto {str2}")

La variable str2 contiene el texto Tony

Tanto la sintaxis con comillas simples y dobles son equivalentes.

Por otro lado, también se pueden usar en

* **Comillas triples (''' ''' o """ """)**

Esta sintaxis se usa cuando se tiene un texto multlinea, es decir, que la variable *string* contiene un texto con saltos de línea explícitos. En las sitaxis con comillas dobles y simples, la variable está en un solo renglón.

In [63]:
str3 = """Este es un string
que ocupa varias líneas
y respeta los saltos de línea."""

print(f"La variable multilínea str3 contiene el siguiente texto:\n\n{str3}")

La variable multilínea str3 contiene el siguiente texto:

Este es un string
que ocupa varias líneas
y respeta los saltos de línea.

##### A string is juse a sequence of characters

* it is an ordered sequence of characters that could include any letters, numbers, symbols, punctuation, etc

In [427]:
"Andy"

'Andy'

In [428]:
type('Andy')

str

In [429]:
type('Andy - python, pandas, v3.9!!!!')

str

* what about strings with ' ' or " " in them?

In [431]:
# "Let's code "pandorably""

In [432]:
# 'Let's code "pandorably"'

In [433]:
# use alternating quotes:

In [434]:
"Let's code 'pandorably'"

"Let's code 'pandorably'"

In [435]:
# we could use the \ char

In [436]:
'Let\'s code "pandorably"'

'Let\'s code "pandorably"'

* there's also ' ' '

In [437]:
'''this is the 'first' line of the string
this is the "second"
and this is the third'''

'this is the \'first\' line of the string\nthis is the "second"\nand this is the third'

In [438]:
type('''this is the first line of the string
this is the second
and this is the third''')

str

In [439]:
# "this is the first line
# this s the second"

* strings could be combined with +

In [440]:
2 + 2

4

In [441]:
'Andy' + ' ' + "Bek"

'Andy Bek'

* strings could be repeated with *

In [442]:
2 * 3

6

In [443]:
'python' * 3

'pythonpythonpython'

#### Methods

* methods are similar to functions, eg type()

In [444]:
type('python')

str

In [445]:
type(714)

int

In [446]:
type(714.9)

float

* ...but they are always attached to a type of object

* different data types have different methods defined and available

 * some methods available on strings:
  > .upper(), .lower(), .isalpha(), .startsWith()

In [447]:
'python'.upper()

'PYTHON'

In [448]:
'PYthon'.lower()

'python'

In [449]:
'pythonv3.9'.isalpha()

False

In [450]:
'python'.startswith('py')

True

In [451]:
'pythON'.endswith('on')

False

* BONUS: value substitutions with .format()

In [452]:
"We will be using python v{}".format(3.9)

'We will be using python v3.9'

In [453]:
"We will be using python v{py_v}, pandas v{pa_v}, and numpy v{nu_v}".format(py_v=3.9, pa_v='1.0.3', nu_v='1.2.1')

'We will be using python v3.9, pandas v1.0.3, and numpy v1.2.1'

#### Containers I: Lists

* lists are ordered sequences of elements

In [454]:
students = ['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

* we denote them with [ ]

* each element has an index, the first starting at 0 (zero-based indexing)

* we select items from lists using the respective index

In [455]:
students[1]

'Brie'

In [456]:
students[0]

'Andrew'

* ...or sequence of indices (list slicing)

In [457]:
students[0:2]

['Andrew', 'Brie']

* some slicing rules:
 > lower bound is inclusive, upper bound is exclusive

 > we could also select from the end using a negative indexing system
 
 > if we get out of bounds, pythons throws Indexerror

In [458]:
# last element:

In [459]:
students[-3]

'Brie'

In [460]:
# students[20]

In [461]:
# students[4]

#### Lists vs. Strings

* strings are sequences of characters, whereas

In [462]:
py = 'python'

In [463]:
type(py)

str

* lists are sequences of any object

In [464]:
students

['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

In [465]:
type(students)

list

In [466]:
students[0]

'Andrew'

In [467]:
py[0]

'p'

In [468]:
students[0:2]

['Andrew', 'Brie']

In [469]:
py[0:2]

'py'

* both lists and strings are ordered

* BONUS: lists are mutable; strings are immutable

In [470]:
py

'python'

In [471]:
py[-1]

'n'

In [472]:
# py[-1] = 'N' # strings cannot be changed!

In [473]:
py = 'pythoN'

In [474]:
students

['Andrew', 'Brie', 'Cynthia', 'Dr.Dre']

In [475]:
students[-1]

'Dr.Dre'

In [476]:
students[-1] = 'Eminem'

In [477]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

#### List Methods And Functions

* built-in functions: max, len, min, sorted

In [478]:
ages = [23, 39, 12, 12.1]

In [479]:
type(ages)

list

In [480]:
max(ages)

39

In [481]:
min(ages)

12

In [482]:
len(ages)

4

In [483]:
sorted(ages)

[12, 12.1, 23, 39]

In [484]:
sorted(ages, reverse=True)

[39, 23, 12.1, 12]

* methods:
 > .append() to add items to a list

 > .pop() to remove by index

 > .remove() to remove by item 

 > str.join(list) to join all elements of a list into a string

In [485]:
ages

[23, 39, 12, 12.1]

In [486]:
ages.append(24) # adds the element to the list; returns nothing

In [487]:
ages

[23, 39, 12, 12.1, 24]

In [488]:
ages.pop(-1) # removes the element from the list; return the removed element

24

In [489]:
ages

[23, 39, 12, 12.1]

In [490]:
# ages.pop(2)

In [491]:
ages.remove(12)

In [492]:
ages

[23, 39, 12.1]

In [493]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [494]:
''.join(students)

'AndrewBrieCynthiaEminem'

In [495]:
type(''.join(students))

str

In [496]:
', '.join(students)

'Andrew, Brie, Cynthia, Eminem'

#### Containers II: Tuples

* tuples are ordered and immutable containers of elements

In [497]:
u_data = ('Ronald', 59)

In [498]:
type(u_data)

tuple

In [499]:
u_data_2 = 'Donald', 64

In [500]:
type(u_data_2)

tuple

* denoted using parentheses... though optional

* each element has a zero-based index (just like lists)

In [501]:
students

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [502]:
students[0]

'Andrew'

In [503]:
u_data_2

('Donald', 64)

In [504]:
u_data_2[1]

64

In [505]:
# u_data_2[0] = 'Barack'

* typically used to store values that are closely related together

In [506]:
# SAT scores -> math, writing, reading

In [507]:
sat_score = 790, 780, 640

In [508]:
sat_score

(790, 780, 640)

#### Containers III: Sets

* unordered container of (only) unique values

* constructed using { } and comma-separated elements

In [509]:
degrees = {'BSc', 'MA', 'PhD'}

In [510]:
type(degrees)

set

In [511]:
degrees2 = {'BSc', 'MA', 'PhD', 'MA'}

In [512]:
type(degrees2)

set

In [513]:
degrees2

{'BSc', 'MA', 'PhD'}

In [514]:
# degrees[0]

* .add() and .discard() to add and remove values

In [515]:
degrees

{'BSc', 'MA', 'PhD'}

In [516]:
degrees.add('BA')

In [517]:
degrees

{'BA', 'BSc', 'MA', 'PhD'}

In [518]:
degrees.discard('MA')

In [519]:
degrees

{'BA', 'BSc', 'PhD'}

* .intersection(), .difference(), and .union()

In [520]:
degrees

{'BA', 'BSc', 'PhD'}

In [521]:
degrees2

{'BSc', 'MA', 'PhD'}

In [522]:
degrees.intersection(degrees2)

{'BSc', 'PhD'}

In [523]:
degrees.union(degrees2) # degrees2.union(degrees)

{'BA', 'BSc', 'MA', 'PhD'}

In [524]:
degrees.difference(degrees2)

{'BA'}

In [525]:
degrees2.difference(degrees)

{'MA'}

* nice shortcut: remove all duplicate values from a list? use set().

In [526]:
# task: remove all the unique elements from a list of degrees:

In [527]:
highest_degree_earned = ['BA', 'BA', 'BSc', 'MA', 'MA', 'MA', 'PhD', 'High School GED', 'Some College', 'BA']

In [528]:
type(highest_degree_earned)

list

In [529]:
set(highest_degree_earned)

{'BA', 'BSc', 'High School GED', 'MA', 'PhD', 'Some College'}

In [530]:
highest_degree_earned_unique = list(set(highest_degree_earned))

In [531]:
highest_degree_earned_unique

['Some College', 'PhD', 'MA', 'High School GED', 'BA', 'BSc']

#### Containers IV: Dictionaries

* dictionaries are mutable and unordered

In [532]:
student_scores = {'Andrew': 94, 'Jessica': 96, 'Brie': 79}

In [533]:
type(student_scores)

dict

* they are built using { } and key-value pairs

* values are accessed using [ ] or with .get()

In [534]:
student_scores['Jessica']

96

In [535]:
student_scores['Brie']

79

In [536]:
# student_scores['Andy']

In [537]:
student_scores.get('Jessica')

96

In [538]:
student_scores.get('Andy')

In [539]:
print(student_scores.get('Andy'))

None

* adding and removing elements: dict[key] = value and dict.pop(key)

In [540]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Brie': 79}

In [541]:
# -> Tom got a 69

In [542]:
student_scores['Tom'] = 69

In [543]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Brie': 79, 'Tom': 69}

In [544]:
student_scores.pop('Brie')

79

In [545]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

#### Dictionary Keys And Values

In [546]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

* the values could be any other value or container object, even other dictionaries

In [547]:
student_scores2 = {
    'Andrew': 94,
    'Jessica': [96, 93],
    'Tom': {
        'bio': 94,
        'chem': 84,
        'phys': 79
    }
}

In [548]:
type(student_scores2)

dict

In [549]:
student_scores2

{'Andrew': 94, 'Jessica': [96, 93], 'Tom': {'bio': 94, 'chem': 84, 'phys': 79}}

* the keys could be any immutable data type

In [550]:
student_scores3 = {
    'Andrew': 94,
    7: [96, 93],
    ('Tom', 'Winklevoss'): {
        'bio': 94,
        'chem': 84,
        'phys': 79
    }
}

In [551]:
type(student_scores3)

dict

In [552]:
student_scores3

{'Andrew': 94,
 7: [96, 93],
 ('Tom', 'Winklevoss'): {'bio': 94, 'chem': 84, 'phys': 79}}

* .keys(), .values(), .items()

In [553]:
student_scores

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

In [554]:
student_scores.keys()

dict_keys(['Andrew', 'Jessica', 'Tom'])

In [555]:
type(student_scores.keys())

dict_keys

In [556]:
student_scores.values()

dict_values([94, 96, 69])

In [557]:
student_scores.items()

dict_items([('Andrew', 94), ('Jessica', 96), ('Tom', 69)])

#### Membership Operators

In [558]:
student_scores # dict

{'Andrew': 94, 'Jessica': 96, 'Tom': 69}

In [559]:
students # list

['Andrew', 'Brie', 'Cynthia', 'Eminem']

In [560]:
u_data # tuple

('Ronald', 59)

In [561]:
degrees # set

{'BA', 'BSc', 'PhD'}

In [562]:
his_name = "Andrew Dogood"
his_name # string

'Andrew Dogood'

* efficiently test membership with the *in* and *not in* operators

In [563]:
'rew' in his_name

True

In [564]:
'do' not in his_name

True

In [565]:
'59' not in u_data

True

In [566]:
'59' in u_data

False

In [567]:
'BA' in degrees

True

In [568]:
'BSc' not in degrees

False

In [569]:
'Andrew' in students

True

In [570]:
'Andy' in students

False

In [571]:
'Brandon' in student_scores

False

In [572]:
'Andrew' in student_scores

True

#### Controlling Flow: if, else, And elif

In [573]:
passed = []
failed = []

student_1 = {'name': 'Jess', 'exam_score': 72, 'attendance': True }
student_2 = {'name': 'Briana', 'exam_score': 90, 'attendance': True }
student_3 = {'name': 'Jay', 'exam_score': 64, 'attendance': False }

* if statements allow us to control the flow of a program

In [574]:
if student_1.get('exam_score') > 70:
  passed.append(student_1)

In [575]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True}]

* else and elif keywords

In [576]:
if student_2.get('exam_score') > 70:
  passed.append(student_2)
else: 
  failed.append(student_2)

In [577]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Briana', 'exam_score': 90, 'attendance': True}]

In [578]:
if student_3.get('exam_score') > 70:
  passed.append(student_3)
elif student_3.get('exam_score') > 65 and student_3.get('attendance') == True:
  passed.append(student_3)
else: 
  failed.append(student_3)

In [579]:
passed

[{'name': 'Jess', 'exam_score': 72, 'attendance': True},
 {'name': 'Briana', 'exam_score': 90, 'attendance': True}]

In [580]:
failed

[{'name': 'Jay', 'exam_score': 64, 'attendance': False}]

* combining boolean expressions with *and*, *or*

* pitfall: using the assignment '=' operator instead of the comparison '=='

#### Truth Value Of Non-booleans

In [581]:
if student_1.get('attendance') == True:
  print('passed!')
else:
  print('failed :(')

passed!

In [582]:
student_1.get('attendance')

True

* shorthand syntax

In [583]:
if student_1.get('attendance'):
  print('passed!')
else:
  print('failed :(')

passed!

In [584]:
student_1.get('exam_score')

72

In [585]:
if student_1.get('exam_score'):
  print('passed!')
else:
  print('failed :(')

passed!

In [586]:
if 72:
  print('passed!')
else:
  print('failed :(')

passed!

In [587]:
if 0.0:
  print('passed!')
else:
  print('failed :(')

failed :(

In [588]:
if ['a']:
  print('passed!')
else:
  print('failed :(')

passed!

* all objects (not just booleans) in python have a truth value

* falsy objects: None, False, ( ), { }, [ ], 0, 0.0

#### For Loops

In [589]:
should_greet = True

greetings = ['hey, welcome', 'this is python', 'pandas is coming soon']

language = 'python'

if should_greet:
  print(greetings[0])
  print(greetings[1])
  print(greetings[2])

hey, welcome
this is python
pandas is coming soon

* loops help us execute a block of code multiple times

* python has two types of loops: *for* and *while* (next lecture)

* for loops help us loop over iterables, which are objects that return one element at a time

In [590]:
for gr in greetings:
  print(gr)

hey, welcome
this is python
pandas is coming soon

In [591]:
for char in language:
  print(char)

p
y
t
h
o
n

#### The range() Immutable Sequence

In [592]:
say_hi = 6

In [593]:
for i in range(say_hi):
  print('hi')

hi
hi
hi
hi
hi
hi

In [594]:
list(range(6)) # start = 0, step = 1

[0, 1, 2, 3, 4, 5]

* range() is an immutable sequence type that is very useful in for loops

In [595]:
list(range(0, 6, 1))

[0, 1, 2, 3, 4, 5]

In [596]:
range(3, 10, 1)

range(3, 10)

In [597]:
list(range(3, 11, 1))

[3, 4, 5, 6, 7, 8, 9, 10]

In [598]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

* ...start, stop, and step must be integers

#### While Loops

In [599]:
balance = 2000
next_round_cost = 42.34
games_played = 0

# Q: how many games could be played if the cost to play doubles each round?

* *for* loops run a definite number of times whereas *while* loops repeat an indefinite number of times, i.e. until a condition is met

In [600]:
# definite:
#   for each element in a list of elements, 
#   for each character in a string,
#   for each elemement in a set, etc

# indefinite:
#   until a condition is met

* each time the loop runs, the condition is re-evaluated, repeating indefinitely until the condition evaluates to False

In [601]:
# while (condition):
#   # loop body

In [602]:
while balance > next_round_cost:
  games_played += 1
  balance -= next_round_cost
  next_round_cost *= 2

In [603]:
games_played

5

In [604]:
next_round_cost

1354.88

In [605]:
balance

687.4599999999998

* very important: always make sure that the body of the while loop modifies some part of the condition

#### Break And Continue

In [606]:
greetings2 = ['hey', 'hello', 'stop', 'what\'s up?', 'let me tell you a story, are you ready?', 'hey there', 'what\'s new?']

* break exits out of a loop

In [607]:
for greeting in greetings2:
  if greeting == 'stop':
    break
  else: 
    print(greeting)

hey
hello

In [608]:
for greeting in greetings2:
  if greeting == 'stop': break

  print(greeting)

hey
hello

* continue skips a single iteration

In [609]:
for greeting in greetings2:
  if len(greeting) > 11:
    continue
  else:
    print(greeting)

hey
hello
stop
what's up?
hey there
what's new?

In [610]:
for greeting in greetings2:
  if len(greeting) > 11:  continue

  print(greeting)

hey
hello
stop
what's up?
hey there
what's new?

#### Zipping Iterables

In [611]:
names = ['Andrew', 'Brian', 'Caledon', 'Deirdre']

score = [100, 90, 74, 84]

* zip creates an iterable (a zip object) combining values from several other iterables

In [612]:
list(zip(names, score))

[('Andrew', 100), ('Brian', 90), ('Caledon', 74), ('Deirdre', 84)]

* values could be unpacked in a for loop

In [613]:
for student_name, student_score in zip(names, score):
  print("{} got a {} on the exam".format(student_name, student_score))

Andrew got a 100 on the exam
Brian got a 90 on the exam
Caledon got a 74 on the exam
Deirdre got a 84 on the exam

In [614]:
names = ['Andrew', 'Brian', 'Caledon', 'Deirdre']

score = [100, 90, 74, 84]

attendance = [True, True, False, True]

In [615]:
for i in zip(names, score, attendance):
  print(i)

('Andrew', 100, True)
('Brian', 90, True)
('Caledon', 74, False)
('Deirdre', 84, True)

#### List Comprehensions

In [616]:
numbers = [10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

students = [{'name': 'Andrea', 'score': 90},
            {'name': 'Astrid', 'score': 76},
            {'name': 'Beatrice', 'score': 64},
            {'name': 'Brenda', 'score': 96}]

# Q1: create a list containing all the odd integers in numbers
# Q2: create a list of all the students who scored more than 90

* comprehensions are a pythonic way to build lists, sets, and dictionaries without a for loop

In [617]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [618]:
# odd or even

In [619]:
10 % 2

0

In [620]:
13 % 2

1

In [621]:
odds = []

In [622]:
for number in numbers:
  if number % 2 == 1:
    odds.append(number)

In [623]:
odds

[13, 1, 23]

In [624]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [625]:
[number for number in numbers if number % 2 == 1]

[13, 1, 23]

In [626]:
# Q2

In [627]:
students

[{'name': 'Andrea', 'score': 90},
 {'name': 'Astrid', 'score': 76},
 {'name': 'Beatrice', 'score': 64},
 {'name': 'Brenda', 'score': 96}]

In [628]:
[student for student in students if student.get('score') >= 90]

[{'name': 'Andrea', 'score': 90}, {'name': 'Brenda', 'score': 96}]

In [629]:
[student.get('name') for student in students if student.get('score') >= 90]

['Andrea', 'Brenda']

#### Defining Functions

In [630]:
scores = [90, 73, 43, 100]

students = [{'name': 'Andrea', 'scores': [90, 73, 43, 100]}, # 'average': 76.5, 'passed': True
            {'name': 'Astrid', 'scores': [76, 44, 66, 73]},
            {'name': 'Beatrice', 'scores': [64, 74, 91, 64]},
            {'name': 'Brenda', 'scores': [96, 82, 76, 100]}]

In [631]:
# Q1: add an average score to each student dictionary in the students list

# Q2: add a passed (True/False) to each dictionary if the student's average is higher than 70

* functions allow us to simplify and speed up our code by organizing it around reusable blocks

* functions are great for generalizing repetitive tasks

In [632]:
def get_average(scores_list): # function header
  _avg = sum(scores_list) / len(scores_list)

  return _avg

In [633]:
def did_pass(score_avg):
  return True if score_avg > 70 else False

In [634]:
for student in students:
  score_avg = get_average(student.get('scores'))

  student['average']  = score_avg
  student['passed']   = did_pass(score_avg)

In [635]:
students

[{'name': 'Andrea',
  'scores': [90, 73, 43, 100],
  'average': 76.5,
  'passed': True},
 {'name': 'Astrid',
  'scores': [76, 44, 66, 73],
  'average': 64.75,
  'passed': False},
 {'name': 'Beatrice',
  'scores': [64, 74, 91, 64],
  'average': 73.25,
  'passed': True},
 {'name': 'Brenda',
  'scores': [96, 82, 76, 100],
  'average': 88.5,
  'passed': True}]

In [636]:
# get_average(scores)

In [637]:
# get_average(scores2)

In [638]:
did_pass(70)

False

In [639]:
did_pass(71)

True

In [640]:
scores

[90, 73, 43, 100]

In [641]:
sum(scores)

306

In [642]:
len(scores)

4

In [643]:
sum(scores) / len(scores)

76.5

In [644]:
scores2 = [60, 72, 90, 100]

In [645]:
sum(scores2) / len(scores2)

80.5

#### Function Arguments: Positional vs Keyword

In [646]:
# Q: define a function that formats a name from 'Mary Anderson' to 'Anderson, Mary'

In [647]:
def reverse_name(first, last):
  return "{}, {}".format(last, first)

In [648]:
reverse_name('Mary', 'Anderson') # positional

'Anderson, Mary'

In [649]:
reverse_name(first='Mary', last='Anderson') # keyword

'Anderson, Mary'

In [650]:
reverse_name(last='Anderson', first='Mary')

'Anderson, Mary'

In [651]:
reverse_name('Anderson', 'Mary') # wrong!

'Mary, Anderson'

In [652]:
reverse_name('Mary', last='Anderson')

'Anderson, Mary'

In [653]:
# reverse_name(first='Mary', 'Anderson') # wrong, syntaxerror!

#### Lambdas

In [654]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

* lambdas are functions that don't have a name, i.e. they're anonymous

In [655]:
# def function_name(param):
#   # function definition

In [656]:
lambda x: x ** 3

In [657]:
a = 10

In [658]:
# _(10)

In [659]:
cube_it = lambda x: x ** 3

In [660]:
cube_it(20)

8000

In [661]:
def cube_it2(n):
  return n ** 3

* lambdas as great for doing one thing in one place

* they contain only one statement and they automatically return the result of that statement

In [662]:
# map()

In [663]:
numbers

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [664]:
list(map(cube_it2, numbers))

[1000, 8, 64, 1728, 2197, 1, 360944128, 12167, 8, 7077888]

In [665]:
list(map(lambda x: x ** 3, numbers))

[1000, 8, 64, 1728, 2197, 1, 360944128, 12167, 8, 7077888]

#### Importing Modules

In [666]:
def get_average(scores_list):
  _avg = sum(scores_list) / len(scores_list)

  return _avg

* modules define variables, functions, or classes that could be referenced by other programs

* a lot of functionality comes with modules from Python Standard Library

* we access modules using the *import* keyword

In [667]:
import statistics

In [668]:
scores

[90, 73, 43, 100]

In [669]:
get_average(scores)

76.5

In [670]:
statistics.mean(scores)

76.5

* to import specific functions from a module we use *from < module > import < function >*

In [671]:
from statistics import mean

In [672]:
mean(scores)

76.5

* we could alias our imports using the *as* keyword

In [673]:
from statistics import mean as avg

In [674]:
avg(scores)

76.5

In [675]:
# import pandas as pd
# from matplotlib import pyplot as plt